@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(163, 163, 163);
    font-family: "Rethink Sans", sans-serif;
}

.Navbar{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: relative;
}

.Navbar ul{
    display: flex;
}

.Navbar li{
    list-style: none;
    padding-right: 5rem;
    font-size: 1.5rem;
}

a{
    text-decoration:none;
    color: black;
    cursor: pointer;
}

.logo{
    height: 4rem;
}

.About-section{
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 80vh;
}

.About-section h1{
    font-size: 4rem;
    text-align: center;
}

.About-section p{
    font-size: 2rem;
    margin: 4rem;
}


.Home-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 80vh;
}

.Home-section h1{
    font-size: 4rem;
}

.Home-section p{
    font-size: 2rem;
}


.Banner-img{
    width: 70vw;
    height: 80vh;
}

.Job-card-parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.Job-card{
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 15px;
    width: 20rem;
    height: 15rem;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    border-radius: 15px;
    font-size: 1rem;
    background-color: rgba(163, 163, 163, 0.5);
    width: 10rem;
    height: 2rem;
    cursor: pointer;
}

.footer{
    background-color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{
    font-size: 1.5rem;
}

.Contact-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 80vh;
}

.Contact-section h1{
    font-size: 4rem;
    text-align: center;
}

.Contact-section ul{
    font-size: 2rem;
    display: flex;
    gap: 2rem;
    list-style: none;
    text-decoration: underline overline;
    color:rgba(114, 56, 8, 0.616);
}

.Contact-section li{
    cursor: pointer;
}

.Apply-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 80vh;
}

.Apply-section form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.Apply-section input,label{
    height: 3rem;
    width: 30rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
}